
@{
    ViewBag.Title = "FinishCart";
}
@model IEnumerable<TiendaVirtualdlandy.Models.CarritoCompra>

<div class="jumbotron">
    <h3>Estimado Cliente, Gracias por su compra !!!</h3>
</div>

@Html.ActionLink("Inicio", "Index", "Home", null, null) | @Html.ActionLink("Pedidos", "Index", "Pedido", null, null)


