@{
    ViewBag.Title = "Nosotros";
}
<h2>@ViewBag.Title.</h2>

<div class="row">
    <div class="col-md-8">
        <p align="justify">

            Vivamus commodo placerat tellus in varius. Donec bibendum purus tellus, sit amet vehicula mauris
            maximus eget. Fusce tempus at metus nec finibus. Nunc finibus erat et condimentum pellentesque.
            Sed id enim quis magna vulputate tempor. Suspendisse erat ante, porttitor eu lorem nec, porta
            posuere tellus. Aliquam vitae arcu tincidunt, gravida augue at, accumsan quam. Sed sed sapien
            eu diam pulvinar vulputate. Nulla lectus dui, congue ut elementum sed, pharetra sed enim. Phasellus
            id pretium lacus. Duis a placerat nulla. Quisque tempus vulputate velit porttitor rutrum. Proin
            tempus velit porta convallis volutpat. Praesent venenatis mauris vel massa lacinia lobortis.

        </p>
    </div>
</div>
